
        /* CSS styles go here */
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding:0px;
        }
        
        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
        }
        
        header h1 {
            font-size: 2rem;
            margin: 0;
        }
        
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        nav ul li {
            display: inline;
            margin-right: 20px;
        }
        
        nav ul li a {
            color: #fff;
            text-decoration: none;
        }
        
        section {
            padding: 10px;
        }
        
        section h2 {
            font-size: 1.8rem;
            margin-bottom: 20px;
        }
        
     

        
        #slideshow {
            max-width: 500px; /* Adjust the width as needed */
            height: 400px; /* Adjust the height as needed */
            overflow: hidden;
            position: relative;
        }

        #slideshow img {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            opacity: 100;
            transition: opacity 1s ease-in-out;
        }

        #slideshow img:first-child {
            opacity: 1;
        }

        @keyframes slide {
            0% {
                opacity: 0;
            }
            20% {
                opacity: 1;
            }
            80% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }

        #slideshow img:nth-child(2) {
            animation: slide 6s infinite;
        }

        #slideshow img:nth-child(3) {
            animation: slide 12s infinite;
        }
  /* Example CSS for highlighting the active navigation link */
.active a {
    color: olive; /* Change the color to highlight the link */
    /* Add other styles as needed */
}

/* Example CSS for styling the footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white; /* Set text color to white */
    background-color: #333; 
    padding: 10px;
    text-align: center;
}



